:root {
  --most-text-color: #757575;
  --tittle-text-color: #212121;
  --logo-color: #000000;
  --secondary-link-color: #2196f3;
  --bcgnd-hero-color: #2f303a;
  --main-hero-color: #ffffff;
  --bcgnd-team-color: #f5f4fa;
  --bcgnd-color: #ffffff;
  --logo-footer-color: #ffffff;
  --filter-secondary-color: #f5f4fa;
  --filter-border-color: #eeeeee;
  --svg-main-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--most-text-color);
  background-color: var(--bcgnd-color);
  font-size: 14px;
}

/* Reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
/* Container */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* Header */
.section-margin {
  margin-bottom: 94px;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.header-list {
  display: flex;
  gap: 50px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
}
.header-link,
.header-contact {
  text-decoration: none;
  color: var(--tittle-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link {
  color: var(--tittle-text-color);
}
.header-contact {
  color: var(--most-text-color);
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--logo-color);
  margin-right: 93px;
}
.web-logo {
  color: var(--secondary-link-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--secondary-link-color);
  fill: var(--secondary-link-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--secondary-link-color);
}
.current {
  color: var(--secondary-link-color);
}
/* Main */
/* Hero sections */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero {
  background-color: #c4c4c4;
  color: var(--main-hero-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}
.hero-btn {
  color: var(--main-hero-color);
  background-color: var(--secondary-link-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 216px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
/* Features sections */
.section-gap {
  display: flex;
  gap: 30px;
}
.features-main-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.features-item {
  width: 270px;
}
.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tittle-text-color);
  margin-bottom: 10px;
}
.features-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features {
  padding-bottom: 0;
}
/* Development sections */
.development {
}
.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}

/* Team sections */

.team {
  background-color: var(--bcgnd-team-color);
}
.team-img {
  margin-bottom: 30px;
}
.team-item {
  background-color: var(--bcgnd-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-social-list {
  display: flex;
  align-items: center;
  width: 206px;
  gap: 10px;
  margin: 0 auto;
}

.team-social-item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-social-link {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--svg-main-color);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--secondary-link-color);
  fill: var(--bcgnd-color);
}

/* Clients */

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--svg-main-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--secondary-link-color);
  border: 1px solid var(--secondary-link-color);
}
.clients-item {
  width: calc((100%-150) / 6);
  height: 92px;
}

/* Footer */
.footer {
  background-color: var(--bcgnd-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-footer-color);
  margin-bottom: 20px;
  display: block;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link,
.footer-contact {
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-link {
  color: var(--main-hero-color);
}
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--secondary-link-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-adress-container {
  margin-right: 70px;
}
.footer-social {
}

.footer-social-list {
  display: flex;
  align-items: center;
  width: 206px;
  gap: 10px;
  margin: 0 auto;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-link {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--bcgnd-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--secondary-link-color);
  fill: var(--bcgnd-color);
}

.footer-social-tittle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bcgnd-color);
  margin-bottom: 20px;
}

/* Portfolio */
.filter-list {
  display: flex;
  margin-bottom: 50px;
  gap: 8px;
  justify-content: center;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);

  background-color: var(--filter-secondary-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  padding: 6px 22px;
}
.filter-btn:focus,
.filter-btn:hover {
  color: var(--main-hero-color);

  background-color: var(--secondary-link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}
.galery-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.galery-list {
  flex-wrap: wrap;
}
.card-padding {
  padding: 20px 24px;
}
.galery-item {
  width: 370px;
  border: 1px solid var(--filter-border-color);
}
.galery-card {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--tittle-text-color);
  margin-bottom: 4px;
}
.galery-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
